<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XCFMDBManagerExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1ED5C2D81E9CA0E40039B452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ED5C2F11E9CA0E40039B452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ED5C2FC1E9CA0E40039B452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
